<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div id="people-form">
        <form>
            <h2>Добавление человека</h2>
            <label>Имя</label>
            <input type="text" name="name" value="">
            <label>Сообщение</label>
            <input type="text" name="message" value="">
            <hr>
            <button id="save-people">Сохранить</button>
        </form>
    </div>
    <div id="people-put-form">
        <form>
        </form>
    </div>
    <h1>Список людей (<span th:text="${peoplesCount}">0</span>)</h1>
    <button id="show-add-people-form">Добавить человека</button>
    <br><br>
    <div id="people-list">
        <div th:each="people : ${peoples}">
            <a href="#" class="people-link" th:attr="data-id=${people.id}" th:text="${people.name}"></a>
        </div>
    </div>
    <p>Версия сайта:</p>
    <p th:text="${someParameter}"></p>
</body>
</html>